[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
    ignore = untracked
[submodule "bundle/NERDtree"]
	path = bundle/NERDtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = untracked
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
    ignore = untracked
[submodule "bundle/tvo"]
	path = bundle/tvo
	url = https://github.com/vim-scripts/TVO--The-Vim-Outliner.git
    ignore = untracked
