[submodule "bundle/NERDtree"]
	path = bundle/NERDtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
