[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
    ignore = untracked
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
    ignore = untracked
[submodule "bundle/doxygentoolkit"]
	path = bundle/doxygentoolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vimstatline"]
	path = bundle/vimstatline
	url = https://github.com/scrooloose/vim-statline.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimsurround"]
	path = bundle/vimsurround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vimsnipmate"]
	path = bundle/vimsnipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/addonutils"]
	path = bundle/addonutils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
